[Profile1]
Name=default
IsRelative=1
Path=Profiles/ky5klcbk.default
Default=1

[Install83C1C0F3FA8524B1]
Default=Profiles/main
Locked=1

[Profile0]
Name=main
IsRelative=1
Path=Profiles/main

[General]
StartWithLastProfile=1
Version=2

